<link rel="stylesheet" href="./style.css">
<form action="/add" method="POST">
    <p class="form-label">Nome: </p>
    <input type="text" name="nome" class="form-input">
    <p class="form-label">Telefone: </p>
    <input type="tel" name="telefone" class="form-input">
    <p class="form-label">Mensagem: </p>
    <textarea name="mensagem" class="form-textarea"></textarea>
    <button type="submit" class="form-button">Cadastrar Treinamento</button>
</form>


