
<h1>Lista de posts: </h1>

{{#each treinamentos}}
    <h1>{{nome}}</h1>
    <p>{{telefone}}</p>
    <p>{{mensagem}}</p>

    <a href="/deletar/{{id}}"><button>Deletar</button></a>
    <hr>
{{/each}}
